body{
    background-color: #164B60
}
/* . untuk class */
/* # untuk id */
.p-satu{
    color:white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.div-satu{
    width: 100%;
    background-color: #86fff1;
    padding: 5px;
    font-family: arial;
    margin-bottom: 10px;
}

.div-dua{
    width: 100%;
    background-color: #1B6B93;
    padding: 20px;
    color:white;
    text-align: center;
}

.div-dua h2 {
    font-family: impact;
    font-size: 100px;
    margin-bottom: 0px;
}

.div-dua p {
    font-family: arial;
}